<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>MediApp</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css"><!-- load bootstrap css -->
	<!-- load fontawesome -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 
    
        <div class="container">
            <div class="text-center main-page">
                <h6 class="main-logo"> Medical App</h6>

                <p>Login or Register:</p>

                <a href="/login" class="main-btn btn btn-default"><span class="fa fa-sign-in"></span>&nbsp;Login</a>
                <a href="/signup" class="main-btn btn btn-default"><span class="fa fa-user"></span>&nbsp;Signup</a>
            </div>
        </div>
   
</body>
</html>